{% extends 'base.html' %}
{% block content %}

{% if user.is_superuser %}
<div class="row" style="margin-left: 35%;" >
   <div class="col-md-8">
<h1>Etez vous sure de vouloir supprimer ?</h1>
<form method="POST">
   {% csrf_token %}
   <input type="submit" value="supprimer definitivement" class="btn btn-primary">
   <a href="{% url 'programmes:lessonlistdetail' slug=lesson.slug matiere=lesson.matiere.slug niveau=lesson.niveaux.slug  %}" class="btn btn-success" >annuler la suppression</a>
</form>
</div>
</div>
{% endif %}

{% endblock %}

